@font-face {
    font-family: NType82Regular;
    src: url("./fonts/NType82-Regular.otf") format("opentype");
}

@font-face {
    font-family: NType82Headline;
    src: url("./fonts/NType82-Headline.otf") format("opentype");
}

@font-face {
    font-family: Ndot55;
    src: url("./fonts/Ndot-55.otf") format("opentype");
}

@font-face {
    font-family: LetteraMonoLLCondLightRegular;
    src: url("./fonts/LetteraMonoLLCondLight-Regular.otf") format("opentype");
}

/* MD Fonts */
@font-face {
    font-family: MDPrimerBlack;
    src: url("./fonts/MDPrimerTrial-Black.otf") format("opentype");
}

@font-face {
    font-family: MDPrimerBold;
    src: url("./fonts/MDPrimerTrial-Bold.otf") format("opentype");
}

@font-face {
    font-family: MDPrimerLight;
    src: url("./fonts/MDPrimerTrial-Light.otf") format("opentype");
}

@font-face {
    font-family: MDPrimerMedium;
    src: url("./fonts/MDPrimerTrial-Medium.otf") format("opentype");
}

@font-face {
    font-family: MDPrimerRegular;
    src: url("./fonts/MDPrimerTrial-Regular.otf") format("opentype");
}

@font-face {
    font-family: MDPrimerSemibold;
    src: url("./fonts/MDPrimerTrial-Semibold.otf") format("opentype");
}

:root {
    --nav-height: 3.6rem
}

* {
    margin: 0;
    padding: 0;
    /* transition: 0.15s */
}

/* nav section start*/
.nav-section {
    /* background-color: lightcoral; */
    height: var(--nav-height);
    /* border-bottom: 1px solid #f1f1f2; */
    position: sticky;
    background-color: #fff;
    top: 0;
    z-index: 100;
}

.nav-inner {}

.nav-container {
    display: flex;
    /* justify-content: space-evenly;  */
    justify-content: space-between;
    width: 1200px;
    margin: auto;
    height: 100%;
    align-items: center;
    border-bottom: 1px solid #f1f1f2;
}

.nav-logo {
    font-family: 'Ndot55';
    font-size: 2rem;
    cursor: pointer;
    text-overflow: clip;
}

.nav-list {
    /* font-family: 'NType82Headline'; */
    font-family: 'MDPrimerRegular';
    list-style: none;
    display: flex;
    align-items: stretch;
    height: 100%;
    gap: 30px;
    font-size: 1.15rem;
}

.nav-list-item {
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid black; */
    cursor: pointer;
}

.nav-list-item:hover {
    border-bottom: 1px solid black;
    margin-bottom: -1px;
}

.profile-icon {
    /* font-size: 1.5rem; */
    cursor: pointer;
    transform: scale(1);
}

.nav-menu-icon {
    font-size: 25px;
}

.nav-options-container {
    background-color: #fff;
    width: 100%;
}

/* nav section end */

/* main section start */

.info-container {
    height: calc(100vh - var(--nav-height));
    /* width: 100vw; */
    background-color: #f3f5f8;
    width: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}

.info-image {
    flex: 1;
}

.info-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.info-text-container {
    width: 420px;
    padding: 2.8rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 28px;
}

.info-optional-top-text {
    /* font-family: 'NType82Regular'; */
    font-family: 'MDPrimerLight';
    font-size: 1.15rem;
}

.info-text-heading {
    /* font-family: 'NType82Headline'; */
    font-family: 'MDPrimerBold';
    font-size: 4rem;
}

.info-text-description {
    font-family: 'MDPrimerLight';
    font-size: 1.15rem;
    /* line-height: 2.4rem; */
    line-height: 25px;
}

.info-button {
    background-color: #002f6c;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'MDPrimerLight';
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.15s;
}

.info-button:hover {
    background-color: #00285c;
    margin: 0 -6px;
}

.info-optional-link {
    font-family: 'MDPrimerLight';
    color: #002F6C;
    position: absolute;
    bottom: 7px;
    font-size: 1.15rem;
    cursor: pointer;
}

.info-side-text {
    position: absolute;
    font-family: 'Ndot55';
    transform-origin: 0% 0%;
    transform: rotateZ(90deg);
    font-size: 110px;
    left: 120px;
}

/* main section end */

/* testimonial section starts */

.testimonials-section {
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 0;
    text-align: center;
    text-overflow: clip;
}

.testimonials-container {
    max-width: 300px;
}

.testimonials-heading {
    font-family: 'MDPrimerBold';
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.testimonials-text {
    font-family: 'MDPrimerLight';
    font-size: 1.15rem;
}

/* testimonial section ends */

/* footer section starts */

.footer-section {
    font-family: 'MDPrimerLight';
    color: #fff;
    background-color: #000;
    padding: 3.5rem 0;
}

.footer-upper {
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.footer-table-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    row-gap: 40px;
    flex: 1;
    /* font-size: 1.15rem; */
}

.footer-table {
    gap: 12px
}

.footer-table-container p {
    margin-bottom: 3px;
    cursor: pointer;
}

#footer-table-heading {
    margin-bottom: 15px;
    font-family: 'MDPrimerBold';
}

.footer-separator {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.footer-lower {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.footer-lower-left {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer-lower-right {
    display: flex;
    justify-content: space-between;
}

.footer-email-container p {
    font-family: 'MDPrimerBold';
}

.footer-email-container input {
    width: 300px;
    margin-top: 1.5rem;
    padding: 0.8rem 1rem;
    border-radius: 12px;
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
}

.footer-email-container input::placeholder {
    color: #fff;
    font-family: 'MDPrimerLight';
}

.footer-icons {
    display: flex;
    gap: 10px;
    margin-right: 50px;
    flex-wrap: wrap;
}

.icon-container {
    background-color: #fff;
    width: fit-content;
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon-container i {
    color: #000;
    font-size: 0.85rem;
}

.footer-lower-right a {
    color: #fff;
}

/* footer section ends */

/* Media Queries */
@media screen and (max-width: 1200px) {
    .nav-container {
        width: 100%;
    }

    .nav-section {
        padding: 0 1.5rem;
    }

    /* .nav-inner{
        padding: 0 1.5rem;
    } */

    .info-container {
        height: fit-content;
    }

    .info-side-text {
        font-size: 80px;
        left: 90px;
    }

    .footer-upper {
        padding: 0 1.5rem;
    }

    .footer-lower {
        padding: 0 1.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .nav-list {
        display: none;
    }

    .info-container {
        flex-direction: column;
    }

    .info-text-container {
        width: auto;
        gap: 18px;
        padding: 2rem 1.5rem;
    }

    .info-text-heading {
        font-size: 2rem;
    }

    .info-side-text {
        display: none;
    }

    .footer-table-container {
        grid-template-columns: 1fr 1fr;
    }

    .footer-lower-left {
        flex-direction: column;
        gap: 0;
    }

    .footer-lower-right {
        flex-direction: column;
        align-items: end;
    }

    .footer-icons {
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .testimonials-section {
        flex-direction: column;
        align-items: left;
        text-align: left;
        gap: 3rem;
        padding: 3rem 1.5rem;
    }

    .footer-upper {
        flex-direction: column;
    }

    .footer-email-container {
        order: 0;
    }

    .footer-table-container {
        margin-top: 3rem;
        order: 1;
    }

    .footer-email-container input {
        width: -webkit-fill-available;
    }
}

@media screen and (max-width: 530px) {
    :root {
        --nav-height: 3rem
    }

    .nav-logo {
        font-size: 1.6rem;
    }

    .profile-icon {
        /* font-size: 1rem; */
        transform: scale(0.8);
    }
}

@media screen and (max-width: 245px) {
    .footer-table-container {
        grid-template-columns: 1fr;
    }

    .footer-lower {
        flex-direction: column;
    }

    .footer-lower-right {
        align-items: start;
        gap: 20px;
    }

    .footer-icons {
        margin-top: 20px;
        justify-content: flex-start;
    }
}